.search {
    background: #FFF7EF;
    width: 100vw;
    height: 100vh;
}

.selected-options {
    position: absolute;
    background-color: #f2f2f2;
    width: 300px;
    height: 365px;
    padding: 20px;
    border-radius: 20px;
}

.options-tags {
    color: #fff;
    background-color: #DD7E26;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.selected-category {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    /* Primary color */
    color: #DD7E26;
}

.selected-result {
    position: absolute;
    width: 60vw;
    left: 20vw;
}

.result-container {
    height: 225px;
    width: 930px;
    background-color: #f2f2f2;
    margin-top: 30px;
}

.result-image {
    width: 193px;
    height: 222px;
}

.result-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #222;
}