.main {
    background-color: #FFF7EF;
    width: 100vw;
    height: 100vh;
}

.find-section {
    position: absolute;
    background-color: #DD7E26;
    width: 60vw;
    height: 450px;
    border-radius: 24px;
    margin-left: 100px;
    margin-top: 32px;
    padding: 15px 20px;
}

.find-section__title {
    color: #DD7E26;
    text-align: center;
}

.find-section__ingredients {
    width: 50%;
    display: grid;
    padding-left: 5%;

}

.find-section__flavor {
    width: 45%;
    float: left;
    display: grid;
    margin-right: 5%;
    /* margin: 0px auto; */
}

.find-section__ingredient__selected {
    height: 200px;
    border: solid #000 1px;
    border-radius: 12px;
    margin-top: 10px;
}

.find-section__flavor__selected {
    height: 200px;
    border: solid #000 1px;
    border-radius: 12px;
    margin-top: 10px;
}

.find-button {
    font-size: 24px;
    margin: 0;
    position: absolute;
    left: 42%;
    bottom: 10%;
}

.person-section {
    width: 20vw;
    height: 450px;
    float: left;
    position: absolute;
    background-color: #DD7E26;
    left: 70%;
    border-radius: 24px;
    margin-top: 32px;
}
.person-section__container {
    list-style-type: none;
    align-items: center;
    padding: 0;
    padding-top: 30px;
}
.person-section__item {
    align-items: center;
    /* display: inline; */
}

.recomend-section {
    height: 413px;
    width: 80vw;
    position: absolute;
    background-color: #DD7E26;
    border-radius: 24px;
    margin-left: 100px;
    margin-top: 52vh;
}
.recomend-section > .nav-tabs > li{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.recomend-section > .nav-tabs > li > button {
    /* border-bottom: 1px solid #DD7E26; */
    color: #DD7E26;
}
.person-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 40%;
}
.person-name {
    font-size: 20px;
    color: #222;
    text-align: center;
}
.person-button {
    display: inline-block;
    align-items: center;
    margin-left: 15%;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    background: #FFF7EF;
    border: none;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
}